:host {
  display: flex;
  flex-direction: column;
}
progress {
  width: 500px;
  height: 20px;
  display: block;
}
.graph {
  border: 1px solid #ccc;
  background: #002538;
}

.progress-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 48px;
  font-weight: 600;
  color: #fafafa;
  font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;
}